<!doctype html>
<html>
    <head>
        <title>{% block title %}Add Car{% endblock %}</title>
    </head>
    <body>
        <h1>Add Car</h1>
        <form method="post">
            {% csrf_token %}
            <label for="register">Register:</label>
            <input type="text" name="register" id="register" required><br>
            <label for="year">Year:</label>
            <input type="number" name="year" id="year" required><br>
            <label for="make">Make:</label>
            <input type="text" name="make" id="make" required><br>
            <label for="model">Model:</label>
            <input type="text" name="model" id="model" required><br>
            <label for="price">Price:</label>
            <input type="number" name="price" id="price" required><br>
            <label for="vin">VIN:</label>
            <input type="text" name="vin" id="vin" required><br>
            <button type="submit">Add Car</button>
        </form>
        <p> </p>
        <form action="{% url "dealer" %}" method="get">
            <button type="submit">Cancel</button>
        </form>
    </body>
</html>
<!-- Compare this snippet from templates/registration/signup.html: -->
<!-- <!doctype html> -->    