{% load custom_filters %}

<!DOCTYPE html>
<html>
<head>
    <title>View Cart</title>    
</head>
<body>
    <h1>Your Cart</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Product</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Subtotal</th>
            </tr>
        </thead>
        <tbody>
            {%for item in cart_items %}
                <tr>
                    <td>{{ item.car.make }} {{ item.car.model }}</td>
                    <td>{{ item.quantity }}</td>
                    <td>{{ item.car.price }}</td>
                    <td>{{ item.car.price|multiply:item.quantity }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <h2>Total: ${{ total }}</h2>    
    {% comment %} <a href="{% url "checkout" %}">Proceed to Checkout</a> {% endcomment %}
    <form action="{% url "checkout" %}" method="get">
        <button type="submit">Proceed to Checkout</button>
    </form>
    <form action="{% url "dealer" %}" method="get">
        <button type="submit">Continue Shopping</button>
    </form>
</body>
</html>